/* CTA Section Styles */


.ctaSectionContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  z-index: 10;
  max-width: 896px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
  flex-direction: column;
}

.ctaTitle {
  font-size: clamp(1.5rem, 3vw, 2.0rem);
  font-weight: bold;
  margin-bottom: 0;
  color: white;
}
.image{
  height:113px;
}
.ctaButton {
  background-color: #0000FF;
  color: white;
  padding: 12px 32px;
  border-radius: 8px;
  height: fit-content;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.ctaButton:hover {
  transform: scale(1.05);
}

/* Responsive */
@media (min-width: 768px) {
  .ctaSectionContent {
    flex-direction: row;
    text-align: left;
  }
  
  .ctaTitle {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .ctaTitle {
    font-size: 2rem;
  }
}